@import 'fonts.css';
@import "utils.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Main colors */
    --main: "#097695"; 
    --secondary: "#96AFB8";  /* Converted from rgba(150, 175, 184, 1) */
    --alt: 0 0% 96%;  /* Converted from rgba(244, 244, 244, 1) */
    --black: 0 0% 0%;  /* Converted from rgba(0, 0, 0, 1) */

    /* Background and foreground */
    
    
    /* Other ShadCN variables */

    --main:var(--main);
    --card: var(--alt);
    --card-foreground: var(--black);
    --popover: var(--alt);
    --popover-foreground: var(--black);

    --primary: var(--main);
    --primary-foreground: var(--alt);

    --secondary: var(--secondary);
    --secondary-foreground: var(--black);

    --border: var(--main);
    --input: var(--main);
    --ring: var(--main);

    --radius: 0.5rem;
  }


}

@layer base {
  * {
    @apply  border-main font-sans;
  }
  body {
    @apply bg-background ;
  }
}
@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(0deg, #96AFB8 0.9%, #FFF 100%);
  }



.h1{font-family: "SF Pro";
font-size: 72px;
font-style: normal;
font-weight: 590;
line-height: normal;}
.large{
font-family: "SF Pro";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.medium{
font-family: "SF Pro";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.h5{
  font-family: "SF Pro";
font-size: 24px;
font-style: normal;
font-weight: 590;
line-height: normal;
}
.buttonL{
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "SF Pro";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px; 
}
}
/* TODO: PUT UTILS IN ANOTHER FILE */
.bg-signin {
  background-image: url('../../../public/signin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-signup {
  background-image: url('../../../public/signup.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}