/* @layer utilities {
    .bg-custom-gradient {
      background: linear-gradient(0deg, #96AFB8 0.9%, #FFF 100%);
    }
  
  
  
  .h1{font-family: "SF Pro";
  font-size: 72px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;}
  }
   */
   